<!-- Header -->
<header class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".header-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand site_title" href="/" >{{ site.title }}</a>
    </div>

    <div class="collapse navbar-collapse header-collapse">
      <ul class="nav navbar-nav">
          {% for page in site.static_pages %}
	      <li><a href="{{ page[1]  }}">{{ page[0] }}</a></li>
          {% endfor %}
      </ul>
    </div>
  </div>
</header>