* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding-bottom: 64px;
  font-family: "open sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1.title {
  font-weight: 800;
}