<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="sk"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="sk"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="sk"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="sk">
<!--<![endif]-->

<head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% if page.title == "Home" %} {{ site.title }} &middot; {{ site.tagline }} {% else %} {{ page.title }} &middot; {{ site.title }} {% endif %}
    </title>
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}" />

    <link href="//fonts.googleapis.com/css?family=Open+Sans:600,800" rel="stylesheet" type="text/css">
    <link rel="alternate" type="application/atom+xml" title="RSS" href="{{site.url}}/feed.xml" />

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/all.css">
</head>

<body>
    {% include header.html %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 content">
                {{ content }}
            </div>
            <div class="col-md-4 sidebar">
                {% include sidebar.html %}
            </div>
        </div>
    </div>

    {% include analytics.html %}
</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
crossorigin="anonymous"></script>

</html>